
.outer {
    z-index: -1;
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  
  .middle {
    z-index: -1;
    display: table-cell;
    vertical-align: middle;
  }
  
  .inner {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    z-index: 500;
    background-color: #e9ebec;
    width: 60%;
    height: 80%;
    max-height: 45.75rem;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    min-width: 26.25rem;
    /*whatever width you want*/
  }
