.CategorySelectors {
    color: white;
    display: flex;
    flex-direction: column;
    text-align: left;
    text-transform: capitalize;
    font-weight: 200;
    user-select: none;
    pointer-events: none;
    opacity: .8;
    list-style-type: none;
    border-radius: .66rem;
    height: 62vh;
}

.List {
    color: white;
    flex: 1;
    vertical-align: top;
    padding: 0;
    margin-top: 0 ;

}

.CategorySelectors div  :hover,
.CategorySelectors div  :active,
.CategorySelectors div  .active {
    background-color: #FFA500;
}
