.Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #06437A;
    opacity: .8;
    overflow: auto;
    width: 18rem;
    height: 30rem;
    padding-left: 2%;
    padding-right: 2%;
    border-style: solid;
}

.Image {
    box-sizing: border-box;
    opacity: 1;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height:5rem;
    width: 5rem;

}
/* align-items: center;
justify-content: space-between; */
.Image img {
    box-sizing: border-box;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height:5rem;
    width: 5rem;
}

.Image img:hover {
    background-color: #4c4e51;
    border: solid .125rem;
    border-color: #FFA500;
}

.ImageSelected img {
    box-sizing: border-box;
    opacity: 1;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height:5rem;
    width: 5rem;
    border: solid 2px;
    border-color: #FFA500;
}
