.NavigationItem  {
    margin: 0;
    height: 100%;
    width: auto;
    align-items: right;
    font-weight: bold;
    font-size: 1.25rem;
    text-decoration: none;
    opacity: 1.0;
    text-align: left;
    margin-top: 30px ;
}

.NavigationItem a {
    color: #C0C0C0;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
    text-decoration: none;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    color: #FFA500;
    text-decoration: underline;
}
