.CategorySelector {
    box-sizing: border-box;
    width: 8.125rem;
    height: 6vh;
    background: #06437A;
    margin: .33rem, .33rem, .33rem, .33rem;
    vertical-align: middle;
    border-radius: .5rem;
    cursor: pointer;
    pointer-events: auto;
}

.CategorySelector span {
    font-weight: bold;
    font-size: 1rem;
    margin-top: 1rem;
    margin-right: .66rem;
    color: white;
    float: right;
    vertical-align: middle;
}

.CategorySelector img {
    margin-left: .33rem;
    margin-top: .75rem;
    float:left;
}

.CategorySelectorSelected {
    box-sizing: border-box;
    width: 8.75rem;
    height: 6vh;
    background: #888888;
    margin: .33rem, .33rem, .33rem, .33rem;
    vertical-align: middle;
    border-style: solid;
    border-radius: .66rem;
    cursor: pointer;
    pointer-events: auto;
    background-color: #FFA500;
}

.CategorySelectorSelected span {
    font-weight: bold;
    font-size: 1rem;
    margin-top: 1rem;
    margin-right: .66rem;
    color: white;
    float: right;
    vertical-align: middle;
}

.CategorySelectorSelected img {
    margin-left: .33rem;
    margin-top: .75rem;
    float:left;
}
