.Toolbar {
    color: #06437A;
    height: 3rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.25rem;
    box-sizing: border-box;
    z-index: 90;
    overflow: hidden;
    opacity: .8;
}

.Toggle {
    display: flex;
    justify-content: space-between;
}

.Toolbar nav {
    height: 100%;
}

.Logo {
    height: 80%;
}

.Toolbar span {
    color : #06437A;
    opacity: 1.0;
}

.Toolbar span:hover,
.Toolbar span:active,
.Toolbar span.active {
    color: #06437A;
    text-decoration: underline;
}

.Login {
    display: flex;
    align-items: center;
    justify-content: center;
}

.toolbarItem{
    font-size: 1rem;
    vertical-align: center;
    cursor: pointer;
}

.toolbarItem :hover,
.toolbarItem :active,
.toolbarItem .active,
.toolbarItem :hover,
.toolbarItem :active,
.toolbarItem .active,{
    color: #FFA500 ;
    text-decoration: underline;
    cursor: pointer;
}
