.orderItemContainer {
    width: 70%
}

.Info {
    border-right: 0.05rem solid black; 
    display: inline-block;
}

.Image {
    display: inline-block;
    height: 7rem;
    width: 7rem;
}

.Price {
    display: inline-block;
}

.Name {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
}