.BottomBar {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: right;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 0;
    overflow: hidden;
}

.Checkout {
    margin-left: 5vh;
    margin-right: auto;
}
