.Container {
    display: flex;
    flex-direction: column;
    width: 37.5rem;
}

.Genre {
    box-sizing: border-box;
    padding-top: .4rem;
    height: 2rem;
    background-color: #06437A;
    margin-top: .33rem;
    font-size: 1rem !important;
    font-weight: bold;
    flex: 1;
    width: 25rem;
    text-align: center;
    cursor: pointer;
    pointer-events: auto;
    transition: all .1s;
    opacity: .8;
}


.Genre:hover {
    border: 2px solid rgba(255, 166, 9, 1);
}


.GenreSelected {
    box-sizing: border-box;
    opacity: .8;
    padding-top: .4rem;
    height: 2.5rem;
    background-color: #888888;
    margin-top: .3rempx;
    font-size: 1rem;
    font-weight: bold;
    flex: 1;
    width: 25rem;
    text-align: center;
    cursor: pointer;
    pointer-events: auto;
    transition: all .1s;
    border: 2px solid rgba(255, 166, 9, 1);
}
