.Menu {
    position: fixed;
    left: 10vh;
    font-weight: 15; 
    font-size: 1.75rem; 
    border-right: 0.05rem solid black; 
    padding: 0.3rem;
    text-decoration: none; 
    cursor: pointer;
}

.DrawerToggle {
    width: 40px;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    box-sizing: border-box;
    cursor: pointer;
}

.DrawerToggle div {
    width: 90%;
    height: 3px;
    background-color: #06437A;
}
