.SocialMedia {
    position: absolute;
    left: 50%;
    display: flex;
    justify-content: space-between;
    transform: 			translateX(-50%);
    text-decoration: none;
}

.Icon {
    padding: .8rem;
    color: #696969;
}

.Icon:hover {
    color: black;
}