html {
    text-align: center;
    margin: 0;
}
.button {
    background-color: #a11544;
    width: 9.375rem;
    height: 2.8125rem;
    -moz-border-radius-topleft: 1.5625rem 1.5625rem;
    -moz-border-radius-topright: 1.5625rem 1.5625rem;
    border-top-left-radius: 1.5625rem 1.5625rem;
    border-top-right-radius: 1.5625rem 1.5625rem;
    color:#fff;
    text-align: center;
    float:right;
}
.drawer {
    display: flex;
    position:absolute;
    bottom:0;
    right:0;
    width:100%;
}
.drawer-appear{clear:both;}
.drawer-inside {
    height: 0;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    transition: height .4s ease;
    background: #c3c3c3;
}
.drawer-inside.openup {
    height: 13.125rem;
    transition: height .7s ease;
}