
.icon {
    margin-right: .5rem;
}

.Head {
    box-sizing: border-box;
    display: inline-block;
    background-color: lightgrey;
    align-items: left;
    margin-left: 1rem;
    margin-bottom: 0rem;
    border-bottom: 1px solid grey;
    border-top: 1px solid black;
    width: 100%;
    padding: .7rem;
    font-size: 1rem;
}

.numItems {
    display: inline-block;
    margin-left: .5rem;
    margin-bottom: .25rem;
}
.Items {
    margin-left: 1rem;
    margin-bottom: .25rem;
    border-bottom: 1px solid black;
}

.Para {
    margin-left: .25rem;
    margin-bottom: .5rem;
    font-size: 1rem;
}

.ParaSmall {
    font-weight: bold;
    font-size: 1rem;
    margin-left: .25rem;
}

.edit {
    display: inline-block;
    color: #696969;
    cursor: pointer;
    z-index: 99;
    margin-left: .5rem;
    margin-right: .5rem;
}

.edit:hover{
    color: black;
}