.Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #06437A;
    opacity: .5;
    overflow: auto;
    width: 10rem;
    height: 30rem;
    padding-left: 7%;
    padding-right: 7%;
}

.Image {
    opacity: 1;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 150px;
    width: 75px;
    align-items: center;
    justify-content: space-between;
}

.Image img {
    opacity: 1;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 150px;
    width: 75px;
}

.Image img:hover {
    opacity: 1;
    background-color: #4c4e51;
    border: solid 2px;
    border-color: #FFA500;
}

.ImageSelected img {
    opacity: 1;
    background-color: #4c4e51;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 150px;
    width: 75px;
    border: solid 2px;
    border-color: #FFA500;
}
