.Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #06437A;
    opacity: .8;
    overflow: auto;
    width: 14rem;
    height: 30rem;
    padding-left: 2%;
    padding-right: 2%;
    border-style: solid;
}

.Image {
    opacity: 1;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height:6rem;
    width: 3rem;
    align-items: center;
    justify-content: space-between;
}

.Image img {
    opacity: 1;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height:6rem;
    width: 3rem;
}

.Image img:hover {
    opacity: 1;
    background-color: #4c4e51;
    border: solid .125rem;
    border-color: #FFA500;
}

.ImageSelected img {
    opacity: 1;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height:6rem;
    width: 3rem;
    border: solid 2px;
    border-color: #FFA500;
}
