.Editor {
    position: relative;
    top: 2.5rem;
    width: 100%;
    left: 60%;
    height: 90vh;
    color: #ddd;
    line-height: 1.5;
    margin: 0;
    display: flex;
}

.FirstColumn {
    margin-right: .33rem;
}

.SecondColumn {
    flex: 1;
    width: 10vh;

}
