.holder {
    overflow: auto;
}

.header {
    width: 100%;
    border-top: .05rem solid black;
}

.logo {
    text-align: center;
    height: 3rem;
}

.text {
    margin-left: .25rem;
}

.escape {
    color: #696969;
    top: .3rem;
    right: .3rem;
    position: absolute;
    cursor: pointer;
    z-index: 101;
}

.escape :hover {
    color: black,
}

.buttonText {
    font-size: .8rem;
}  

.scrollbar {
    overflow-y: auto;
    overflow-x: hidden;
}

.scrollbar::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
    background-color: rgb(247, 254, 255);
    padding: 10px; 
  }

  .scrollbar::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #6772e5; 
    height: 4rem;
  } 